@import url('https://fonts.googleapis.com/css?family=Roboto');
.drag-handle {
  width: 95%;
  height: 8px;
  background-color: rgba(100,181,246,1) !important;
  position: absolute;
  top: 0;
  margin: auto;
  cursor: ew-resize;
  transition: all 0.3s ease;
  border-radius: 0 0 3px 3px;
}
div.drag-handle:hover {
  transform: scaleY(2.5);
}

.cell {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}
.header-cell {
  cursor: pointer;
  overflow: visible !important;
  user-select: none;
  transition: transform ease;
}
.column-even {
  background-color: rgba(0,0,0, 0.1);
}
.selected-cell {
  border: 2px #2196F3 solid !important;
}
.cell-edit {
  width: 90%;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px black solid;
  text-align: center;
  outline: none;
  font-weight: inherit;
  font-size: inherit;
}
.selected-column {
  background-color: rgba(100,181,246,0.6) !important;
}
.corner {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2196F3;
  transform-origin: right top; 
  transition: all 0.3s ease;
  display: flex;
}
div.corner:hover {
  transform: scale(2);
}